<!DOCTYPE html>


<html lang="ar">

<!-- the head -->
<%- include("./partials/head")  %>

    <body id="body">

        <!-- the header -->
        <%- include("./partials/header")  %>


            <main id="main">

                <section>
                    <h1>
                        Create new article
                    </h1>

                    <form action="/all-articles" method="POST">
                        <label for="title">Article title:</label>
                        <input type="text" id="title" name="title" required>


                        <label for="summary">Article summary:</label>
                        <input type="text" id="summary" name="summary" required>



                        <label for="body">Article body:</label>
                        <textarea id="body" name="body" required></textarea>


                        <button class="create">Create</button>
                    </form>



                </section>



            </main>
            <!-- the footer -->
            <%- include("./partials/footer")  %>



    </body>

</html>